In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
df_ords= pd.read_csv(r'/Users/mattrauth/Desktop/Instacart Basket Analysis /Data/Original Data /orders.csv', index_col = False)

In [3]:
df_prods = pd.read_csv(r'/Users/mattrauth/Desktop/Instacart Basket Analysis /Data/Original Data /Products.csv', index_col = False)

In [4]:
# 1 If you havenâ€™t performed the consistency checks covered in this Exercise on your df_prods dataframe, do so now.
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [5]:
#Using your new knowledge about how to interpret the output of this function, share in a markdown cell whether anything about the data looks off or should be investigated further.
#A. The Max cell in the Price column is extraordinary higher.

In [6]:
# 3. Check for mixed-type data in your df_ords dataframe. No mix type of data
for col in df_ords.columns.tolist():
    weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_ords[weird]) > 0:
        print (col)

In [7]:
# 5. Run a check for missing values in your df_ords dataframe.
df_ords.isnull().sum()

order_id                      0
user_id                       0
eval_set                      0
order_number                  0
order_dow                     0
order_hour_of_day             0
days_since_prior_order    63100
dtype: int64

In [8]:
df_ords.shape

(1048575, 7)

In [9]:
pd.set_option('precision', 2)

In [10]:
pd.options.display.float_format = '{:.2f}'.format

In [11]:
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,1048575.00,1048575.00,1048575.00,1048575.00,1048575.00,985475.00
mean,1710968.32,31564.04,17.17,2.78,13.45,11.10
std,987577.40,18166.95,17.71,2.05,4.22,9.19
min,6.00,1.00,1.00,0.00,0.00,0.00
25%,855467.00,15896.00,5.00,1.00,10.00,4.00
50%,1710657.00,31608.00,11.00,3.00,13.00,7.00
75%,2566970.50,47297.00,23.00,5.00,16.00,15.00
max,3421083.00,63100.00,100.00,6.00,23.00,30.00

In [12]:
#In a markdown cell, report your findings and propose an explanation for any missing values you find.

#206209 data of days_since_prior_order is missing out of 3421083, which is the relatively high proportion of the column. Average days_since_prior_order is 11.11 days, the median is seven days, the max is 30, and the minimum is 0 day.

In [13]:
# 6. Address the missing values using an appropriate method.
df_ords['days_since_prior_order'].fillna(11.11, inplace=True)

In [14]:
#In a markdown cell, explain why you used your method of choice. I input mean for the missing values because there is no significant outlier. Also, due to the number of the missing value, I didn't remove.

In [15]:
# 7. Run a check for duplicate values in your df_ords data.
df_ords_dups = df_ords[df_ords.duplicated()]

In [16]:
df_ords_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

In [17]:
df_ords.to_csv(r'/Users/mattrauth/Desktop/Instacart Basket Analysis /Data/Prepared Data/orders_cleansed.csv')

In [18]:
df_prods.to_csv(r'/Users/mattrauth/Desktop/Instacart Basket Analysis /Data/Prepared Data/products_cleansed.csv')