In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
df_ords= pd.read_csv(r'/Users/mattrauth/Desktop/Instacart Basket Analysis /Data/Original Data /orders.csv', index_col = False)

In [3]:
# 2. Find another identifier variable in the df_ords dataframe that doesn’t need to be included in your analysis as a numeric variable and change it to a suitable format.
df_ords.drop(columns = ['eval_set'])

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0
10,1187899,1,11,4,8,14.0
11,2168274,2,1,2,11,NaN
12,1501582,2,2,5,10,10.0
13,1901567,2,3,1,10,3.0
14,738281,2,4,2,10,8.0
15,1673511,2,5,3,11,8.0
16,1199898,2,6,2,9,13.0
17,3194192,2,7,2,12,14.0
18,788338,2,8,1,15,27.0
19,1718559,2,9,2,9,8.0
20,1447487,2,10,1,11,6.0
21,1402090,2,11,1,10,30.0
22,3186735,2,12,1,9,28.0
23,3268552,2,13,4,11,30.0
24,839880,2,14,3,10,13.0
25,1492625,2,15,1,11,30.0
26,1374495,3,1,1,14,NaN
27,444309,3,2,3,19,9.0
28,3002854,3,3,3,16,21.0
29,2037211,3,4,2,18,20.0
...,...,...,...,...,...,...
1048545,1805250,63098,5,0,13,8.0
1048546,1402287,63098,6,1,12,15.0
1048547,2672959,63098,7,4,10,10.0
1048548,3027299,63098,8,5,11,30.0
1048549,3287901,63098,9,0,12,16.0
1048550,2093178,63098,10,4,10,25.0
1048551,1697311,63098,11,0,8,10.0
1048552,2030718,63098,12,5,9,12.0
1048553,2563452,63098,13,0,9,16.0
1048554,96551,63098,14,0,8,30.0
1048555,1096298,63098,15,5,15,30.0
1048556,1877750,63099,1,0,10,NaN
1048557,1394165,63099,2,2,19,30.0
1048558,2817440,63099,3,3,10,15.0
1048559,2100528,63099,4,3,9,30.0
1048560,3055159,63099,5,1,15,12.0
1048561,2391525,63099,6,4,10,10.0
1048562,2537757,63099,7,2,11,26.0
1048563,3046709,63099,8,5,22,30.0
1048564,3351770,63099,9,3,11,19.0
1048565,886164,63099,10,0,12,4.0
1048566,642909,63099,11,4,11,11.0
1048567,2154500,63099,12,4,16,7.0
1048568,1304124,63099,13,6,9,30.0
1048569,2625264,63099,14,0,13,30.0
1048570,1805240,63100,1,0,11,NaN
1048571,2719402,63100,2,0,8,14.0
1048572,2855250,63100,3,2,13,16.0
1048573,2355832,63100,4,5,16,30.0
1048574,2362552,63100,5,1,13,30.0

In [4]:
# 3. Look for a variable in your df_ords dataframe with an unintuitive name and change its name without overwriting the data frame.
df_ords_2 = df_ords.drop(columns = ['eval_set'])

In [5]:
# 4. Your client wants to know what the busiest hour is for placing orders. Find the frequency of the corresponding variable and share your findings.
df_ords_2['order_hour_of_day'].value_counts()

10    88228
11    87087
14    86905
15    86888
13    85652
12    84204
16    83421
9     78737
17    69960
18    56284
8     54868
19    43076
20    31735
7     28199
21    23972
22    18824
23    12112
6      9253
0      6881
1      3698
5      2882
2      2312
4      1748
3      1649
Name: order_hour_of_day, dtype: int64

In [6]:
# 5. Determine the meaning behind a value of 4 in the "department_id" column within the df_prods dataframe using a data dictionary.
df_prods = pd.read_csv(r'/Users/mattrauth/Desktop/Instacart Basket Analysis /Data/Original Data /Products.csv', index_col = False)

In [7]:
df_dep = pd.read_csv(r'/Users/mattrauth/Desktop/Instacart Basket Analysis /Data/Original Data /products.csv', index_col = False)

In [8]:
df_dep.T
# A. 4 = produce

,0,1,2,3,4,5,6,7,8,9,...,49683,49684,49685,49686,49687,49688,49689,49690,49691,49692
product_id,1,2,3,4,5,6,7,8,9,10,...,49679,49680,49681,49682,49683,49684,49685,49686,49687,49688
product_name,Chocolate Sandwich Cookies,All-Seasons Salt,Robust Golden Unsweetened Oolong Tea,Smart Ones Classic Favorites Mini Rigatoni Wit...,Green Chile Anytime Sauce,Dry Nose Oil,Pure Coconut Water With Orange,Cut Russet Potatoes Steam N' Mash,Light Strawberry Blueberry Yogurt,Sparkling Orange Juice & Prickly Pear Beverage,...,Famous Chocolate Wafers,All Natural Creamy Caesar Dressing,Spaghetti with Meatballs and Sauce Meal,California Limeade,Cucumber Kirby,"Vodka, Triple Distilled, Twist of Vanilla",En Croute Roast Hazelnut Cranberry,Artisan Baguette,Smartblend Healthy Metabolism Dry Cat Food,Fresh Foaming Cleanser
aisle_id,61,104,94,38,5,11,98,116,120,115,...,61,89,38,98,83,124,42,112,41,73
department_id,19,13,7,1,13,11,7,1,16,7,...,19,13,1,7,4,5,1,3,8,11
prices,5.8,9.3,4.5,10.5,4.3,2.6,4.4,1.1,7,8.4,...,6,4.9,6.9,4.3,13.2,5.3,3.1,7.8,4.7,13.5

In [9]:
# 6. The sales team in your client’s organization wants to know more about breakfast item sales. Create a subset containing only the required information.
df_prods['department_id']==14

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27        True
28       False
29       False
         ...
49663    False
49664    False
49665    False
49666    False
49667     True
49668    False
49669    False
49670    False
49671    False
49672    False
49673    False
49674    False
49675    False
49676    False
49677    False
49678    False
49679    False
49680    False
49681    False
49682    False
49683    False
49684    False
49685    False
49686    False
49687    False
49688    False
49689    False
49690    False
49691    False
49692    False
Name: department_id, Length: 49693, dtype: bool

In [10]:
df_prods[df_prods['department_id']==14]

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6
215,216,"Gluten Free Oatmeal, Variety Pack",130,14,4.5
221,222,Honey Nut Oatmeal Squares,121,14,1.1
237,238,Alpha-Bits Multigrain Cereal,121,14,11.9
251,252,"Waffles, Red Berry",121,14,4.9
287,288,Original Sprouted Grains Protein & Fiber Hot O...,130,14,4.5
339,340,Eco-Pac Kamut Puffs Cereal,121,14,7.8
364,365,Cheerios Cereal,121,14,10.5
437,438,Special K Vanilla Cappuccino Protein Breakfast...,48,14,9.5
456,457,Whole Wheat Fig Bar,48,14,5.3
510,510,Protein Blend Honey Oats & Seeds Cereal,121,14,8.3
550,550,"Granola, Veritas, Organic",57,14,1.7
565,565,Light and Fluffy Blueberry Pancake Mix,130,14,5.8
588,588,Special K Original Cereal,121,14,12.2
637,637,Multigrain Peanut Butter Cereal,121,14,7.6
661,661,Sweet Lemon Rain Dance Bar,48,14,1.8
691,691,Organic Promise Strawberry Fields Cereal,121,14,2.7
697,697,Quick Cooking Steel Cut Oats,130,14,11.7
745,745,Complete Funfetti Buttermilk Pancake & Waffle Mix,130,14,7.5
812,812,Healthy Grains Oats & Honey Clusters with Toas...,57,14,14.4
853,853,Crunchy Granola Bars Variety Pack,48,14,8.7
910,910,Nutri-Grain Harvest Hearty Breakfast Bars Coun...,48,14,5.8
978,978,Mallow Oats Cereals,121,14,4.4
994,994,Shake n Pour Buttermilk Pancake Mix,130,14,13.4
1049,1049,Special K Protein Chewy Granola Bars Almond Ho...,48,14,2.9
1087,1087,Sunrise Crunchy Cinnamon Cereal,121,14,11.6
...,...,...,...,...,...
47999,47995,Weight Control Maple & Brown Sugar Instant Oat...,130,14,10.3
48011,48007,Flax Plus Raisin Bran Cereal,121,14,5.6
48044,48040,Kix Crispy Corn Puffs,121,14,9.9
48062,48058,Organic Honey'd Corn Flakes Cereal Gluten Free,121,14,10.9
48110,48106,Traditional Ancient Grains Hot Cereal,130,14,11.2
48162,48158,Blackberry Graham Soft-Baked Cereal Bars,48,14,4.6
48214,48210,Whole Wheat Blueberry Fig Bars,48,14,6.2
48385,48381,Blueberry Chia Buckwheat Muesli,57,14,4.1
48543,48539,Instant Gluten-Free Brown Sugar & Flax Oatmeal,130,14,5.2
48588,48584,Cocoa Dyno-Bites Cereal,121,14,3.3
48677,48673,Raw Pure & Simple Organic Bare with Flax Insta...,130,14,13.0
48721,48717,Real Medleys Apple Walnut Oatmeal,130,14,1.1
48743,48739,Limited Edition Mini Trix Cereal,121,14,12.6
48746,48742,Quick 1 Minute Whole Grain Oats,130,14,5.9
48798,48794,Froot Loops Bloopers Cereal,121,14,1.2
48948,48944,Variety Pack of Gluten Free Instant Oatmeal,121,14,2.9
48959,48955,Chocolate Chip Crisp Bar,48,14,2.8
49004,49000,Blueberry Bliss Snack,48,14,7.3
49044,49040,Blueberry Minute Muffin,130,14,9.4
49083,49079,Special K Vanilla Almond Cereal,121,14,2.2
49111,49107,Nutri-Grain Raspberry Cereal Bars,48,14,1.3
49115,49111,Original Instant Oatmeal,130,14,2.9
49139,49135,"Cereal, Superfood, Acai Blueberry",121,14,6.6
49145,49141,Gluten Free Rice Chex,121,14,12.3
49245,49241,Organic Original Hot Oatmeal,130,14,13.7
49330,49326,Cereal Variety Fun Pack,121,14,9.1
49395,49391,Light and Fluffy Buttermilk Pancake Mix,130,14,2.0
49547,49543,Chocolate Cheerios Cereal,121,14,10.8
49637,49633,Shake 'N Pour Buttermilk Pancake Mix,130,14,14.2
49667,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14,10.2

In [11]:
df_breakfast = df_prods[df_prods['department_id']==14]

In [12]:
# 7. They’d also like to see details about customers who might be throwing dinner parties. Your task is to find all observations from the entire dataframe that include items from the following departments: alcohol, deli, beverages, and meat/seafood. You’ll need to present this subset to your client.
df_prods.head(20)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
5,6,Dry Nose Oil,11,11,2.6
6,7,Pure Coconut Water With Orange,98,7,4.4
7,8,Cut Russet Potatoes Steam N' Mash,116,1,1.1
8,9,Light Strawberry Blueberry Yogurt,120,16,7.0
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
11,12,Chocolate Fudge Layer Cake,119,1,9.4
12,13,Saline Nasal Mist,11,11,1.1
13,14,Fresh Scent Dishwasher Cleaner,74,17,6.5
14,15,Overnight Diapers Size 6,56,18,11.2
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
16,17,Rendered Duck Fat,35,12,17.1
17,18,Pizza for One Suprema Frozen Pizza,79,1,10.6
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9,12.0
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0

In [13]:
df_prods[df_prods['department_id'].isin(['5', '7', '12', '20'])]

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0
22,23,Organic Turkey Burgers,49,12,8.2
34,35,Italian Herb Porcini Mushrooms Chicken Sausage,106,12,15.1
38,39,Daily Tangerine Citrus Flavored Beverage,64,7,12.5
39,40,Beef Hot Links Beef Smoked Sausage With Chile ...,106,12,22.5
43,44,Sparkling Raspberry Seltzer,115,7,12.2
48,49,Vegetarian Grain Meat Sausages Italian - 4 CT,14,20,10.1
51,52,Mirabelle Brut Rose,134,5,14.4
52,53,Whole Leaf Pure Aloe With Lemon Juice,98,7,4.7
61,62,Premium Deli Oven Roasted Turkey Breast,96,20,14.6
68,69,NaN,26,7,11.8
72,73,Jasmine Tea Unfiltered Ginger Ale,77,7,8.3
73,74,Artisan Chick'n & Apple Sausage,14,20,3.0
81,82,All Natural 100% Apple Juice,98,7,6.4
83,84,Lamb Shank,7,12,24.3
84,85,Soppressata Piccante,96,20,8.9
86,87,Classics Earl Grey Tea,94,7,9.1
96,97,Organic Chamomile Lemon Tea,94,7,8.4
108,109,Grape Leaf Hummus Wrap,13,20,7.1
118,119,Chardonnay Paso Robles,62,5,5.5
137,138,Olli Napoli Salami,96,20,5.1
146,147,Organic Ranch Veggie Dip,67,20,3.4
149,150,Brut Rosé,134,5,12.9
157,158,Smoked Ham & Oven Roasted Turkey Sub Sandwich Kit,96,20,14.0
166,167,Sparkling Blush Grape Juice,77,7,13.8
...,...,...,...,...,...
49544,49540,Pure Squeezed Lemonade,31,7,9.1
49548,49544,Cabernet Sauvignon Wine,28,5,9.8
49552,49548,Cranberry Pomegranate Green Tea,94,7,8.5
49554,49550,Tangerine Limeade Seltzer,115,7,14.5
49558,49554,Roasted Garlic Hommus,67,20,14.8
49561,49557,Loose Leaf Mild Yerba Mate Tea,94,7,14.6
49564,49560,Selects Natural Slow Roasted Chicken Breast,96,20,14.5
49566,49562,Blanc De Noirs Sparkling Wine,134,5,5.7
49567,49563,Jasmine Green Tea - 20 CT,94,7,6.4
49585,49581,Pinto Bean and Cheese Pupusa,13,20,10.5
49588,49584,Herbal Supplement Milk Thistle Tea Bags - 24 CT,94,7,7.0
49602,49598,Hot Cocoa Mix With Marshmallows Envelopes,90,7,7.9
49607,49603,Peppermint Chocolate Caffeine Free Tea,94,7,11.7
49609,49605,Classic Hummus Family Size,67,20,3.5
49610,49606,Organic Natural Red,28,5,6.8
49613,49609,Very Berry Flavor Sparking Mineral Water,115,7,13.2
49616,49612,White Grape Juice Cocktail,77,7,14.3
49619,49615,Cran-Apple Juice Drink,98,7,12.1
49627,49623,Freeze-Dried Powder Coconut Water,90,7,12.0
49641,49637,Passion Fruit Flavored Fruit Juice Cocktail Blend,31,7,13.8
49642,49638,Organic Superfirm Vacuum Packed Tofu,14,20,9.0
49655,49651,Beef Brisket,122,12,20.7
49659,49655,Apple Cider,98,7,10.7
49665,49661,Porto,134,5,8.2
49674,49670,Beef Summer Sausage,106,12,19.2
49676,49672,Cafe Mocha K-Cup Packs,26,7,6.5
49679,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7,14.0
49680,49676,Ultra Red Energy Drink,64,7,14.5
49686,49682,California Limeade,98,7,4.3
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3

In [14]:
df_dinner_parties = df_prods[df_prods['department_id'].isin(['5', '7', '12', '20'])]

In [15]:
df_dinner_parties.describe()

         product_id     aisle_id  department_id       prices
count   7650.000000  7650.000000    7650.000000  7650.000000
mean   24721.196601    66.286536       9.563268     9.012458
std    14297.565684    36.844580       5.114123     4.997438
min        3.000000     1.000000       5.000000     1.000000
25%    12402.500000    28.000000       7.000000     5.000000
50%    24803.000000    77.000000       7.000000     8.800000
75%    36977.250000    98.000000      12.000000    12.400000
max    49684.000000   134.000000      20.000000    25.000000

In [16]:
# 8. It’s important that you keep track of total counts in your dataframes. How many rows does the last dataframe you created have?
# A 7650

In [17]:
# 9. Someone from the data engineers team in Instacart thinks they’ve spotted something strange about the customer with a "user_id" of “1.” Extract all the information you can about this user.
df_ords['user_id']==1

0           True
1           True
2           True
3           True
4           True
5           True
6           True
7           True
8           True
9           True
10          True
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29         False
           ...
1048545    False
1048546    False
1048547    False
1048548    False
1048549    False
1048550    False
1048551    False
1048552    False
1048553    False
1048554    False
1048555    False
1048556    False
1048557    False
1048558    False
1048559    False
1048560    False
1048561    False
1048562    False
1048563    False
1048564    False
1048565    False
1048566    False
1048567    False
1048568    False
1048569    False
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: user_id, Length: 1048575, dtype: bool

In [18]:
df_ords[df_ords['user_id']==1]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0

In [19]:
df_user1 = df_ords[df_ords['user_id']==1]

In [20]:
# 10. You also need to provide some details about this user’s behavior. What basic stats can you provide based on the information you have?
df_user1.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,1.100000e+01,11.0,11.000000,11.000000,11.000000,10.000000
mean,1.923450e+06,1.0,6.000000,2.636364,10.090909,19.000000
std,1.071950e+06,0.0,3.316625,1.286291,3.477198,9.030811
min,4.315340e+05,1.0,1.000000,1.000000,7.000000,0.000000
25%,8.690170e+05,1.0,3.500000,1.500000,7.500000,14.250000
50%,2.295261e+06,1.0,6.000000,3.000000,8.000000,19.500000
75%,2.544846e+06,1.0,8.500000,4.000000,13.000000,26.250000
max,3.367565e+06,1.0,11.000000,4.000000,16.000000,30.000000

In [24]:
# 12. Export your df_ords dataframe as “orders_wrangled.csv” in your “Prepared Data” folder.
df_ords.to_csv (r'/Users/mattrauth/Desktop/Instacart Basket Analysis /Data/Prepared Data/ orders_wrangled.csv')

In [25]:
df_dep.T

,0,1,2,3,4,5,6,7,8,9,...,49683,49684,49685,49686,49687,49688,49689,49690,49691,49692
product_id,1,2,3,4,5,6,7,8,9,10,...,49679,49680,49681,49682,49683,49684,49685,49686,49687,49688
product_name,Chocolate Sandwich Cookies,All-Seasons Salt,Robust Golden Unsweetened Oolong Tea,Smart Ones Classic Favorites Mini Rigatoni Wit...,Green Chile Anytime Sauce,Dry Nose Oil,Pure Coconut Water With Orange,Cut Russet Potatoes Steam N' Mash,Light Strawberry Blueberry Yogurt,Sparkling Orange Juice & Prickly Pear Beverage,...,Famous Chocolate Wafers,All Natural Creamy Caesar Dressing,Spaghetti with Meatballs and Sauce Meal,California Limeade,Cucumber Kirby,"Vodka, Triple Distilled, Twist of Vanilla",En Croute Roast Hazelnut Cranberry,Artisan Baguette,Smartblend Healthy Metabolism Dry Cat Food,Fresh Foaming Cleanser
aisle_id,61,104,94,38,5,11,98,116,120,115,...,61,89,38,98,83,124,42,112,41,73
department_id,19,13,7,1,13,11,7,1,16,7,...,19,13,1,7,4,5,1,3,8,11
prices,5.8,9.3,4.5,10.5,4.3,2.6,4.4,1.1,7,8.4,...,6,4.9,6.9,4.3,13.2,5.3,3.1,7.8,4.7,13.5

In [26]:
df_dep_t = df_dep.T

In [27]:
df_dep_t.reset_index()

,index,0,1,2,3,4,5,6,7,8,...,49683,49684,49685,49686,49687,49688,49689,49690,49691,49692
0,product_id,1,2,3,4,5,6,7,8,9,...,49679,49680,49681,49682,49683,49684,49685,49686,49687,49688
1,product_name,Chocolate Sandwich Cookies,All-Seasons Salt,Robust Golden Unsweetened Oolong Tea,Smart Ones Classic Favorites Mini Rigatoni Wit...,Green Chile Anytime Sauce,Dry Nose Oil,Pure Coconut Water With Orange,Cut Russet Potatoes Steam N' Mash,Light Strawberry Blueberry Yogurt,...,Famous Chocolate Wafers,All Natural Creamy Caesar Dressing,Spaghetti with Meatballs and Sauce Meal,California Limeade,Cucumber Kirby,"Vodka, Triple Distilled, Twist of Vanilla",En Croute Roast Hazelnut Cranberry,Artisan Baguette,Smartblend Healthy Metabolism Dry Cat Food,Fresh Foaming Cleanser
2,aisle_id,61,104,94,38,5,11,98,116,120,...,61,89,38,98,83,124,42,112,41,73
3,department_id,19,13,7,1,13,11,7,1,16,...,19,13,1,7,4,5,1,3,8,11
4,prices,5.8,9.3,4.5,10.5,4.3,2.6,4.4,1.1,7,...,6,4.9,6.9,4.3,13.2,5.3,3.1,7.8,4.7,13.5

In [28]:
new_header = df_dep_t.iloc[0]

In [29]:
df_dep_t_new = df_dep_t[1:]

In [30]:
df_dep_t_new.columns = new_header

In [31]:
df_dep_t_new

product_id,1,2,3,4,5,6,7,8,9,10,...,49679,49680,49681,49682,49683,49684,49685,49686,49687,49688
product_name,Chocolate Sandwich Cookies,All-Seasons Salt,Robust Golden Unsweetened Oolong Tea,Smart Ones Classic Favorites Mini Rigatoni Wit...,Green Chile Anytime Sauce,Dry Nose Oil,Pure Coconut Water With Orange,Cut Russet Potatoes Steam N' Mash,Light Strawberry Blueberry Yogurt,Sparkling Orange Juice & Prickly Pear Beverage,...,Famous Chocolate Wafers,All Natural Creamy Caesar Dressing,Spaghetti with Meatballs and Sauce Meal,California Limeade,Cucumber Kirby,"Vodka, Triple Distilled, Twist of Vanilla",En Croute Roast Hazelnut Cranberry,Artisan Baguette,Smartblend Healthy Metabolism Dry Cat Food,Fresh Foaming Cleanser
aisle_id,61,104,94,38,5,11,98,116,120,115,...,61,89,38,98,83,124,42,112,41,73
department_id,19,13,7,1,13,11,7,1,16,7,...,19,13,1,7,4,5,1,3,8,11
prices,5.8,9.3,4.5,10.5,4.3,2.6,4.4,1.1,7,8.4,...,6,4.9,6.9,4.3,13.2,5.3,3.1,7.8,4.7,13.5

In [32]:
# 13
df_dep_t_new.to_csv(r'/Users/mattrauth/Desktop/Instacart Basket Analysis /Data/Prepared Data/ departments_wrangled.csv')