In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
orders_products_merged = pd.read_pickle(r'/Users/mattrauth/Desktop/Instacart Basket Analysis /Data/Prepared Data/orders_products_merged.pkl')

In [4]:
df = orders_products_merged[:1000000]

In [5]:
df.shape

(1000000, 15)

In [6]:
# 1. If you haven’t done so already, complete the instructions in the Exercise for creating the “price_label” and “busiest_day” columns.
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
df['price_range'] = df.apply(price_label, axis=1)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
df['price_range'].value_counts(dropna = False)

Mid-range product    658634
Low-range product    325010
High range            16356
Name: price_range, dtype: int64

In [9]:
orders_products_merged.rename(columns = {'order_dow':'orders_day_of_the_week'}, inplace = True)

In [10]:
orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998.0,138.0,prior,28.0,6.0,11.0,3.0,5.0,0.0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647.0,138.0,prior,30.0,6.0,17.0,20.0,1.0,1.0,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851.0,709.0,prior,2.0,0.0,21.0,6.0,20.0,0.0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770.0,764.0,prior,1.0,3.0,13.0,NaN,10.0,0.0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452.0,764.0,prior,3.0,4.0,17.0,9.0,11.0,1.0,both

In [11]:
orders_products_merged['orders_day_of_the_week'].value_counts(dropna = False)

 0.0    1895925
 1.0    1731690
 6.0    1383568
 5.0    1292527
 2.0    1287923
 3.0    1177870
 4.0    1157898
NaN        1890
Name: orders_day_of_the_week, dtype: int64

In [12]:
result = []

for value in orders_products_merged["orders_day_of_the_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [13]:
orders_products_merged['busiest_day'] = result

In [14]:
orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    6875468
Busiest day       1895925
Least busy        1157898
Name: busiest_day, dtype: int64

In [15]:
# 2. Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.
result_1 = []

for value in orders_products_merged["orders_day_of_the_week"]:
  if value == 0:
    result_1.append("Busiest days")
  elif value == 1:
    result_1.append("Busiest days")
  elif value == 3:
    result_1.append("Slowest days")
  elif value == 4:
    result_1.append("Slowest days")
  else:
    result_1.append("Regularly busy")

In [16]:
orders_products_merged['busiest_days'] = result_1

In [17]:
orders_products_merged.shape

(9929291, 17)

In [18]:
orders_products_merged['busiest_days'].value_counts(dropna = False)

Regularly busy    3965908
Busiest days      3627615
Slowest days      2335768
Name: busiest_days, dtype: int64

In [19]:
#Regularly busy    3965908
#Busiest days      3627615
#Slowest days      2335768

In [20]:
# 4. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”
orders_products_merged['order_hour_of_day'].value_counts(dropna = False)

 10.0    848238
 11.0    835317
 14.0    825020
 13.0    820126
 15.0    812469
 12.0    807392
 16.0    773444
 9.0     750326
 17.0    637193
 8.0     530677
 18.0    500543
 19.0    385062
 20.0    296728
 7.0     275431
 21.0    246251
 22.0    194304
 23.0    121275
 6.0      87725
 0.0      66162
 1.0      34403
 5.0      26395
 2.0      20987
 4.0      16856
 3.0      15077
NaN        1890
Name: order_hour_of_day, dtype: int64

In [21]:
orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,busiest_day,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998.0,138.0,prior,28.0,6.0,11.0,3.0,5.0,0.0,both,Regularly busy,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647.0,138.0,prior,30.0,6.0,17.0,20.0,1.0,1.0,both,Regularly busy,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851.0,709.0,prior,2.0,0.0,21.0,6.0,20.0,0.0,both,Busiest day,Busiest days
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770.0,764.0,prior,1.0,3.0,13.0,NaN,10.0,0.0,both,Regularly busy,Slowest days
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452.0,764.0,prior,3.0,4.0,17.0,9.0,11.0,1.0,both,Least busy,Slowest days

In [22]:
orders_products_merged.loc[(orders_products_merged['order_hour_of_day']==0) & (orders_products_merged['order_hour_of_day']>=1) & (orders_products_merged['order_hour_of_day']<=6), 'busy_time'] = 'Fewest orders'

In [23]:
orders_products_merged.loc[(orders_products_merged['order_hour_of_day']>=7) & (orders_products_merged['order_hour_of_day']<=8), 'busy_time'] = 'Average orders'

In [24]:
orders_products_merged.loc[(orders_products_merged['order_hour_of_day']>=9) & (orders_products_merged['order_hour_of_day']<=16), 'busy_time'] = 'Most orders'

In [25]:
orders_products_merged.loc[(orders_products_merged['order_hour_of_day']>=17) & (orders_products_merged['order_hour_of_day']<=22), 'busy_time'] = 'Average orders'

In [26]:
orders_products_merged.loc[(orders_products_merged['order_hour_of_day']==23), 'busy_time'] = 'Fewest orders'

In [27]:
# 5. Print the frequency for this new column.
orders_products_merged['busy_time'].value_counts(dropna = False)

Most orders       6472332
Average orders    3066189
NaN                269495
Fewest orders      121275
Name: busy_time, dtype: int64

In [28]:
orders_products_merged['busy_time'].shape

(9929291,)

In [29]:
orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,busiest_day,busiest_days,busy_time
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998.0,138.0,prior,28.0,6.0,11.0,3.0,5.0,0.0,both,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647.0,138.0,prior,30.0,6.0,17.0,20.0,1.0,1.0,both,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851.0,709.0,prior,2.0,0.0,21.0,6.0,20.0,0.0,both,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770.0,764.0,prior,1.0,3.0,13.0,NaN,10.0,0.0,both,Regularly busy,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452.0,764.0,prior,3.0,4.0,17.0,9.0,11.0,1.0,both,Least busy,Slowest days,Average orders

In [31]:
orders_products_merged.to_pickle(r'/Users/mattrauth/Desktop/Instacart Basket Analysis /Data/Prepared Data/orders_products_merged_with_new_variable.pkl')