In [6]:
#Import Libraries
import pandas as pd 
import numpy as np 
import os

In [12]:
df_ords= pd.read_csv(r'/Users/mattrauth/Desktop/Instacart Basket Analysis /Data/Original Data /orders.csv', index_col = False)

In [13]:
df_prods = pd.read_csv(r'/Users/mattrauth/Desktop/Instacart Basket Analysis /Data/Original Data /Products.csv', index_col = False)

In [14]:
df_dep= pd.read_csv(r'/Users/mattrauth/Desktop/Instacart Basket Analysis /Data/Original Data /Departments.csv', index_col = False)

In [15]:
# Create a dataframe
df_test=pd.DataFrame()

In [17]:
#Create a mixed type column 

df_test['mix'] = ['a','b',1, True]

In [18]:
df_test

    mix
0     a
1     b
2     1
3  True

In [19]:
# check for mixed types 

for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [20]:
df_test['mix'] = df_test['mix'].astype('str')

In [21]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [22]:
df_nan=df_prods[df_prods['product_name'].isnull()==True]

In [23]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8